// Fonts
$fontDefault: "Raleway", sans-serif;
$fontQuote: "Cardo", serif;

//Colors
$pink: #ff4343;
$headerBlur: rgba(37, 43, 73, 0.8);
$quoteBg: #5c3249;
$white: #ffffff;
$dotsCol: #7e5d6f;
$picActive: rgba(185, 12, 12, 0.8);
$buttonHover: #e71414;
